
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
Body{
    background-image: linear-gradient(to right, #4E52A1 , #27C2DA);
}

a{
    text-decoration: none;
    color: white; 
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.2rem;
    
}

ul {
    list-style-type: none;
    border: 1px solid black;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    
    
    text-align: center;
    margin:10%;
    border-radius: 1rem;
    
   
}
ul li{
    padding: 2rem;
    flex-direction: column;
    font-size: 1.5rem;
}
.social{
    display:inline-block;
    margin: 0px 2.5rem;
    
}